<!DOCTYPE html>
<html lang="en">
<head> 
    <title>Bongistan 2019</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
    <% include menu %>
    <h1> Welcome to Bongistan!</h1>

    <h2> WalletInfo </h2>

    <% if (wallet!= undefined) { %>

    <p> Chain Is Synced:  <%= wallet.is_synced_to_chain %> </p>
    <p> current block height:  <%= wallet.current_block_height %> </p>
    <p> latest block time: <b> <%= wallet.latest_block_at %> </b>  </p>

    <p> public_key:  <%= wallet.public_key %> </p>
    <p> version:  <%= wallet.version %> </p>

    <p> active_channels_count:  <%= wallet.active_channels_count %> </p>
    <p> pending_channels_count:  <%= wallet.pending_channels_count %> </p>

    <% } else  { %>

    <p> error:  <%= JSON.stringify(error) %> </p>

    <% }  %>

</body>
</html>
