<% include menu %>

<h1> Backoffice </h1>

    <h2> Network-Info </h2>
    <% if (networkinfo!= undefined) { %>
        <p> channel size:  min: <%= networkinfo.min_channel_size %> 
                           avg: <%= networkinfo.average_channel_size %> 
                           max: <%= networkinfo.max_channel_size %>        
                           <br/>
            node count:  <%= networkinfo.node_count %> 
            channel count:  <%= networkinfo.channel_count %> 
            <br>
            total capacity:  <%= networkinfo.total_capacity %> 
        </p>
    <% }  %>

    <h2> Wallet-Info </h2>
    <% if (wallet!= undefined) { %>
        <p> Chain Is Synced: <b> <%= wallet.is_synced_to_chain %> </b>  
            current block height:  <b> <%= wallet.current_block_height %> </b> 
            latest block time: <b> <%= wallet.latest_block_at %> </b> 
        </p>
        <p> public key:  <%= wallet.public_key %> <br/>
            version:  <%= wallet.version %> 
        </p>
        <p> active channels:  <b> <%= wallet.active_channels_count %> </b>   
            pending channels:  <b>  <%= wallet.pending_channels_count %> </b> 
        </p>
    <% } else  { %>
        <p> error:  <%= JSON.stringify(error) %> </p>
    <% }  %>

    <h2> Wallet-Balance  </h2>
    <% if (balance!= undefined) { %>
        <p> chainBalancePending:  <%= balance.chainBalancePending %> 
            chainBalance:   <%= balance.chainBalance %>  <br>
            channelBalancePending:  <%= balance.channelPendingBalance %> 
            channelBalance:  <%= balance.channelBalance %> 
        </p>
    <% }  %>


    <h2> Invoices </h2>

    <% if (invoices!= undefined) { %> 
    <table>
        <thead>
            <th> created</th>
            <th> mtokens</th>
            <th> type</th>
            <th> text </th>
            <th> is_confirmed </th>
            <th> confirmed_at </th>
        </thead>

        <tbody>
        <% invoices.forEach (function(i){  %>
            <tr>
                <td>
                    <%= i.created_at %> 
                </td>

                <td>
                    <%= i.mtokens %> 
                </td>

                <td>
                    <%= i.type %> 
                </td>

                <td>
                    <%= i.description %> 
                </td>

                <td>
                    <%= i.is_confirmed %> 
                </td>

                <td>
                        <%= i.confirmed_at %> 
                </td>
                

            </tr>
        <% }); %>
        </tbody>
    </table>
    <% } %>

    <h2> Peers </h2>

    <% if (peers != undefined) { %> 
    <table>
        <thead>
            <th> address </th>
            <th> nickname </th>
            <th> inbound </th>
            <th> type </th>
            <th> ping </th>
            <th> byte sent </th>
            <th> byte rcvd </th>
            <th> sats sent </th>
            <th> sats rcvd </th>
        </thead>

        <tbody>
        <% peers.forEach (function(p){  %>
            <tr>
                <td>
                    <%= p.socket %> 
                </td>

                <td>
                    <%= p.nick %> 
                </td>

                <td>
                    <%= p.is_inbound %> 
                </td>

                <td>
                    <%= p.type %> 
                </td>

                <td>
                    <%= p.ping_time %> 
                </td>

                <td>
                    <%= p.bytes_sent %> 
                </td>

                <td>
                    <%= p.bytes_received %> 
                </td>

                <td>
                    <%= p.tokens_sent %> 
                </td>

                <td>
                    <%= p.tokens_received %> 
                </td>

            </tr>
        <% }); %>
        </tbody>
    </table>
    <% } %>


    <h2> Payment Channels  </h2>
    <% if (channels!= undefined) { %> 
    <table>
        <thead>
            <th> id </th>
            <th> nick </th>
            <th> active </th>
            <th> capacity </th>

            <th> local balance</th>
            <th> remote balance </th>
            
            <th> received </th>
            <th> sent </th>
        </thead>

        <tbody>
        <% channels.forEach (function(c){  %>
            <tr>
                <td>
                    <%= c.id %> 
                </td>
                <td>
                    <%= c.id %> 
                </td>
                <td>
                    <%= c.is_active %> 
                </td>
                <td>
                    <%= c.capacity %> 
                </td>

                <td>
                    <%= c.local_balance %> 
                </td>

                <td>
                    <%= c.remote_balance %> 
                </td>

                <td>
                    <%= c.received %> 
                </td>

                <td>
                    <%= c.sent %> 
                </td>

            </tr>
        <% }); %>
        </tbody>
    </table>
    <% } %>

    <h2> Payments [Outgoing Lightning Payments] </h2>
    <% if (payments!= undefined) { %> 
    <table>
        <thead>
            <th> created_at </th>
            <th> tokens </th>
            <th> fee </th>
            <th> is_outgoing </th>
            <th> is_confirmed </th>
            <th> hops # </th>
        </thead>

        <tbody>
        <% payments.forEach (function(p){  %>
            <tr>
                <td>
                    <%= p.created_at %> 
                </td>
                <td>
                    <%= p.tokens %> 
                </td>
                <td>
                    <%= p.fee %> 
                </td>

                <td>
                    <%= p.is_outgoing %> 
                </td>

                <td>
                    <%= p.is_confirmed %> 
                </td>

                <td>
                    <%= ((p.hops==undefined)?0:p.hops.length) %> 
                </td>
           
            </tr>
        <% }); %>
        </tbody>
    </table>
    <% } %>


</body>
</html>
