<!DOCTYPE html>
<html lang="en">
<head> 
    <title>Lightening Fortune Cookies</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<style>

    body {
        background-color:beige;
    }

    div.payment-box {
        background-color: green;
        max-width: 15cm;

    }

    .payment-text {
        color: blue;
        width: 100px;
        max-width: 100px;
        overflow-wrap: break-word;
    }

    img.fortune-image {
        width: 100px;
        background-color: yellow;
    }



    .fortune-text {
        text-align: center;
        font-size:30px;
        font-weight: bold;
        background-color: white;
        padding:20px;
        margin: 20px;
    }

</style>
<body>
    <% include menu %>

    <h2> Discover beautiful fortune cookie quotes, for just 1-5 satoshis.</h2>

    <% if (invoice == undefined) { %>
        <p> Click on the fortune cookie below to reveal it's contents... </p>
        <a href="/?command=makeinvoice">
            <img class="fortune-image" src="https://image.flaticon.com/icons/svg/315/315059.svg" />
        </a>
    <% } else { %>
    <h1> Payment </h1>
    <p> Your lightening fortune cookie quote will cost: <b> <%= invoice.tokens %>  milli-satoshis </b> </p>
    <p> To proceed, make a Bitcoin Lightning Network payment (how?) with the following payment request:     </p>
    
    <p> If you don't have a lightening wallet, then try out <a href="https://bluewallet.io/">  Blue Wallet (Android + iPhone) </a> </p>
    
    <p> This invoice will expire in 10 minutes since it was created. </p>
    <img style="height: 200px; width: 200px;" height="600" width="600" src="/qr?text=<%= invoice.request %>"> </img>

    <div class="payment-box">
        <p> Payment Request: <b class="payment-text">  <%= invoice.request %>  </b> </p>
    </div> 
    

    <p style="color:#a0a0a0;">Invoice Id:    <%= invoice.id %>  </p>

    <% } %>


    <% if (quote != undefined) { %>
        <div class = "fortune-text">
            <%= quote %>
        </div>
    <% } %>

    <p style="position:absolute;bottom:0;text-align:center;width:100%;color:#a0a0a0;">Icon made by Freepik from www.flaticon.com<p>
</body>


<script>
    function copyCode() {
        var copyText = document.getElementById("paymentCode");
        copyText.select();
        document.execCommand("copy");
    }
</script>

</html>
