<% include menu %>

<!-- JQuery (to show payment status updates -->
<script src="http://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
</script>

<style>
    div.payment-box {
        background-color: green;
        max-width: 15cm;
    }

    .payment-text {
        color: blue;
        width: 100px;
        max-width: 100px;
        overflow-wrap: break-word;
    }

    img.fortune-image {
        width: 100px;
        background-color: yellow;
    }

    .fortune-text {
        text-align: center;
        font-size:30px;
        font-weight: bold;
        background-color: white;
        padding:20px;
        margin: 20px;
    }
</style>

    <% if (invoice == undefined)  { %>
        <h2> Discover beautiful fortune cookie quotes, for just 1-5 satoshis.</h2>

        <p>
            This github repo is a demo that allows you to run a Lightning Node (LND) in docker containers,
            and request and receive payments for your products.
        </p>

        <p> Click on the fortune cookie below to reveal it's contents... </p>
        <a href="/?command=makeinvoice">
            <img class="fortune-image" src="https://image.flaticon.com/icons/svg/315/315059.svg" />
        </a>
    <% } else if (quote == undefined) { %>
    <h1> Payment </h1>
    <p> Your lightning fortune cookie quote will cost: <b> <%= invoice.tokens %>  milli-satoshis </b> </p>
    <p> To proceed, make a Bitcoin Lightning Network payment with the following payment request:  </p>
    <p> If you don't have a lightening wallet, then try out <a href="https://bluewallet.io/">  Blue Wallet (Android + iPhone) </a> </p>
    <p> This invoice will expire in 10 minutes. </p>
    <img style="height: 200px; width: 200px;" height="600" width="600" src="/qr?text=<%= invoice.request %>"> </img>

    <div class="payment-box">
        <p> Payment Request: <b class="payment-text">  <%= invoice.request %>  </b> </p>
    </div> 
    

    <p style="color:#a0a0a0;">Invoice Id:    <%= invoice.id %>  </p>
    <% if (invoice != undefined) { %>
        <div>
            Payment Status: <span id="payment-status"> ? </span>
        </div>
        <% } %>

    <% } %>


   


    <% if (quote != undefined) { %>
        <div class = "fortune-text">
            <%= quote %>
        </div>
        <p style="color:#a0a0a0;">Invoice Id:    <%= invoice.id %>  </p>
        <p style="color:#a0a0a0;">You paid  <%= invoice.amount %> satoshis for good fortune. </p>

    <% } %>

    <p style="position:absolute;bottom:0;text-align:center;width:100%;color:#a0a0a0;">Icon made by Freepik from www.flaticon.com<p>
</body>


<script>
    function copyCode() {
        var copyText = document.getElementById("paymentCode");
        copyText.select();
        document.execCommand("copy");
    }


    <% if ( (invoice != undefined) && (quote == undefined) ) { %>
    $( document ).ready(function() {
        
        var invoiceId = '<%= invoice.id %>';
        var invoiceAmount = '<%= invoice.tokens %>';
        if (invoiceId != "") {
            console.log("Getting Invoice Status once per second..");
            var isPaid = false;
            setInterval( function(){ 
                //alert("Hello"); 
                if (!isPaid) {
                    console.log("Checking Invoice Status..");
                    $.get( "invoicestatus?invoiceId="+ invoiceId, function( data ) {
                        console.log("RCVD: " + JSON.stringify(data));
                        isPaid = data.paid;
                        $("#payment-status" ).text( data.time + " paid: " + data.paid );

                        if (isPaid) {
                            window.location.href = `/?command=paymentsuccess&invoiceId=${invoiceId}&invoiceAmount=${invoiceAmount}`;
                        }
                         
                    });
                }
            }, 1000);
        }
    });
    <% } %>


</script>

</html>